/* You can add global styles to this file, and also import other style files */

/* Definimos variables de color globales para mantener la consistencia */
:root {
  --background-dark: #0b0c10;
  --container-dark: #1a1a1d;
  --text-color: #c5c6c7;
  --accent-color: #66fcf1;
  --border-color: #4b5d67;
}

/* Reset básico y estilos globales para el body */
body {
  margin: 0;
  background-color: var(--background-dark);
  color: var(--text-color);
  font-family: 'Nunito Sans', 'Helvetica Neue', Helvetica, Arial, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  width: 100%;
  overflow-x: hidden;
}

/* Estilo moderno para la barra de scroll */
::-webkit-scrollbar {
  width: 12px;
  background-color: var(--background-dark);
}

::-webkit-scrollbar-thumb {
  background-color: var(--border-color);
  border-radius: 10px;
  border: 3px solid var(--background-dark);
}

::-webkit-scrollbar-thumb:hover {
  background-color: var(--accent-color);
}

/* Box-sizing para un modelo de caja más predecible */
*, *::before, *::after {
  box-sizing: border-box;
}
