<div class="cart-page">
  <div class="cart-container">
    <header class="cart-header">
      <h1>Carrito de Compras</h1>
    </header>

    @if (cartItems$ | async; as items) {

      @if (items.length > 0) {
        <div class="cart-layout" [class.loading]="isLoading$ | async">
          <div class="cart-items">
            <h2>Tus Productos</h2>

            @for (item of items; track item.product.id) {
              <div class="cart-item">
                <img [src]="item.product.imageUrl" [alt]="item.product.name" class="item-img">
                <div class="item-details">
                  <p class="item-name">{{ item.product.name }}</p>
                  <p class="item-price">{{ item.product.price | currency:'ARS' }}</p>
                </div>
                <div class="item-quantity">
                  <input #quantityInput type="number" [value]="item.quantity" min="1" (change)="onQuantityChange(item.product.id, quantityInput.value)" [disabled]="isLoading$ | async">
                </div>
                <button class="item-remove-btn" (click)="onRemoveProduct(item.product.id)" [disabled]="isLoading$ | async">Eliminar</button>
              </div>
            }
          </div>

          <div class="order-summary">
            <h2>Resumen del Pedido</h2>
            <div class="summary-row total"><p>Total:</p> <p>{{ (totalPrice$ | async) | currency:'ARS' }}</p></div>
            <button class="checkout-btn" (click)="onCheckout()" [disabled]="(isLoading$ | async) || (cartItems$ | async)?.length === 0">Proceder al Pago</button>          </div>
        </div>
      } @else {
        <div class="cart-empty">
          <h2>Tu carrito está vacío</h2>
          <p>¡Añade productos para verlos aquí!</p>
          <a routerLink="/products" class="back-to-shop-btn">Ver Productos</a>
        </div>
      }
    }
  </div>
</div>
