<div class="product-list-container">
  <!-- Contenedor para el título y el botón de crear -->
  <div class="list-header">
    <h1>Catálogo de Productos</h1>
    <!-- El botón solo se muestra si el usuario es administrador -->
    @if (isAdmin$ | async) {
      <a routerLink="/admin/products/new" class="create-product-btn">Crear Nuevo Producto</a>
    }
  </div>

  <div class="product-grid">
      @for (product of products$ | async; track product.id) {
        <app-product-card [product]="product"></app-product-card>
      }
      </div>
</div>
