:host {
  --background-dark: #0b0c10;
  --container-dark: #1a1a1d;
  --text-color: #c5c6c7;
  --accent-color: #66fcf1;
  --accent-hover-color: #45a29e;
  --border-color: #4b5d67;
}

.product-list-container {
  background-color: #0b0c10;
  min-height: calc(100vh - 70px);
  padding: 24px;
}

.list-header {
  max-width: 1400px;
  margin: 0 auto 24px auto;
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap;
  gap: 1rem;

  h1 {
    margin: 0;
    color: white;
    font-size: 2rem;
  }
}

.create-product-btn {
  background-color: var(--accent-color);
  color: var(--container-dark); // Usamos la variable para el color de texto oscuro
  padding: 10px 20px;
  border-radius: 5px;
  text-decoration: none;
  font-weight: bold;
  transition: background-color 0.2s ease, transform 0.2s ease;

  &:hover {
    background-color: var(--accent-hover-color);
    transform: translateY(-2px); // Efecto de "elevación"
  }
}

.product-grid {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
  gap: 24px;
  max-width: 1400px;
  margin: 0 auto;
}
